main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
input, select{
  outline: none;
  padding: 10px;
  font-size: 16px;
}
.pageHeader{
  font-size: 36px;
  margin: 60px;
}

.formDiv{
  width: 790px;
}
.formHeader{
  font-size: 22px;
}
.radioInputDivs{
  display: flex;
  gap: 70px;
  margin-top: 10px;
}
.mainLocationDiv{
  margin-top: 80px;
}
.locInputsDivMain{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.locInputDiv{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.inputLabel{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"]{
  width: 384px;
  height: 42px;
  border: 1px solid #808A93;
  border-radius: 6px;
}

.mainDetailsDiv{
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.detailsInputs{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
#priceInputDiv{
  margin-left: 20px;
  margin-bottom: 30px;
}
.areaInputDiv{
  display: flex;
  margin-top: 40px;
}

input[type="radio"]{
  all:unset;
  display: flex;
  align-items: center;
}

.radioInputDivs div{
  display: flex;
  align-items: center;
  column-gap: 7px;
  position: relative;
}

input[type='radio']:after {
  width: 17px;
  height: 17px;
  border-radius: 17px;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid black;
}
input[type='radio']:checked:before {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  position: absolute;
  background-color: black;
  content: '';
  display: inline-block;
  visibility: visible;
  transform: translate(-50%, -50%);
}

select{
  border: 1px solid #808A93;
  border-radius: 6px;
  width: 384px;
  height: 42px;
}
input[type="number"]{
  all: unset;
  border: 1px solid #808A93;
  border-radius: 6px;
  padding: 0 10px;
  width: 362px;
  height: 39.88px;
  
}

.aboutDiv{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
#aboutInput{
  all: unset;
  font-size: 16px;
  width: 767px;
  height: 135px;
  border-radius: 6px;
  padding: 10px;
  border: 1px solid #808A93;
}
.imgDiv{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.imgUploadDiv{
  display: flex;
  justify-content: center;
  width: 788px;
  height: 120px;
  border: 2px dashed #2D3648; 
  border-radius: 6px;
  cursor: pointer;
}
.agentDiv{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 80px;
}
.formBtnsDiv{
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 15px;
  margin-top: 90px;
  margin-bottom: 80px;
}